body {
    background-color: #4a2d88;
    font-family: "Montserrat", sans-serif;;
    text-align: center;
    display: flex;
}

input {
    border-radius: 5px;
    border: none;
    height: 15px;
    background-color: #F9F6EE;
}
button {
    margin-left: 8px;
    border: none;
    border-radius: 5px;
    background-color: #496B56;
    color: #F9F6EE;
    transition: transform 0.3s ease;
}

h1 {
    color: #2AEB74;
}

div {
    background-color: #343434;
    color: #F9F6EE;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    padding: 80px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
}

ul {
    margin-top: 30px;
}

li {
    padding: 8px;
    list-style: none;
}

.apagar {
    background-color: #d11919;
    color: #F9F6EE;
    margin-left: 14px;
    border: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.7);
}

.apagar:hover {
    background-color: #f06767;
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.7);
}